.intro {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.contentDiv {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2,
h1 {
  color: white;
  text-align: center;
}
.link {
  text-decoration: none;
  color: white;
}
.buttonDiv {
  text-align: center;
  align-items: center;
}
.contentDiv h1 {
  border-right: 0.15em solid orange;
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}
.contentDiv h1:nth-child(1) {
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.contentDiv h1:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.contentDiv h1:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end);
  animation: type3 2s steps(40, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
.btn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  animation: all 1s;
  overflow: hidden;
  border-radius: 10px;
  font-weight: bold;
  animation: cssAnimation 0s 6.5s forwards;
  visibility: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#7864f4, #3072d3);
  width: 100%;
  transition: all 0.3s;
  z-index: -1;
}
.btn:hover {
  color: white;
}
.btn::before {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  height: 100%;
}
.btn:hover::before {
  transform: rotate(0);
}
@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 768px) {
  .contentDiv h1 {
    border-right: 0.15em solid orange;
    font-family: "lato", sans-serif;
    font-size: 50px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
  }
}
