@media (max-width: 640px) {
  .item {
    animation: cssAnimation 0s 3s forwards;
    visibility: hidden;
  }
  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container > div {
  flex: 0 50%;
}
#skillsDiv {
  min-width: 100%;
}
#experienceDiv {
  min-width: 100%;
}

@media (min-width: 820px) {
  #skillsDiv {
    min-width: 50%;
  }
  #experienceDiv {
    min-width: 50%;
  }
}
