/* ============================================================================================= */
/* Styling for mobile max-width: 479px */
/* ============================================================================================= */
@media all and (max-width: 479px) {
  .skillsDiv {
    height: 200px;
    overflow-y: scroll;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for mode between mobile and Tablet min-width:  max-width: 1024 */
/* ============================================================================================= */

@media (min-width: 480px) and (max-width: 1024px) {
  /* General Layout */
  .skillsDiv {
    height: 200px;
    overflow-y: scroll;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for laptop min-width:1025px */
/* ============================================================================================= */

@media all and (min-width: 1025px) {
  .skill {
    color: white;
  }
  .skillsDiv {
    height: 286px;
    overflow-y: scroll;
  }
}
