.headerColor {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  margin-bottom: 0px;
}
.navButtons {
  display: none;
}
.menu {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navlinks {
  text-decoration: none;
  color: white;
}
.menuLinks {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  .navButtons {
    display: flex;
  }
}
