/* ============================================================================================= */
/* Styling for mobile max-width: 479px */
/* ============================================================================================= */
@media all and (max-width: 479px) {
  .certificationGrid {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for mode between mobile and Tablet min-width:  max-width: 1024 */
/* ============================================================================================= */

@media (min-width: 480px) and (max-width: 1024px) {
  /* General Layout */
  .certificationGrid {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
/* ============================================================================================= */
/* MEDIA QUERY for Special case */
/* ============================================================================================= */

@media (max-width: 1024px) {
  #mobile-tabs {
    margin-left: 4em;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for laptop min-width:1025px */
/* ============================================================================================= */

@media all and (min-width: 1025px) {
  .certificationGrid {
    height: 530px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
