.certificationGrid {
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
@media (max-width: 640px) {
  .certificationDiv {
    animation: cssAnimation 0s 3s forwards;
    visibility: hidden;
  }
  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}
