/* General Layout */

.header-color {
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
}
/* ============================================================================================= */
/* landing Page */

.landing-grid{
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position: fixed;
top: 0%;
left: 0%;
height: 100%;
width: 100%;
}
.avatar-img{
  height:10%;
  padding-top: 5em;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 2%;
}
.banner-text h1{
  color: white;
  font-weight: bold;
  font-size:66px;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
}
.social-links i{
    color:white;
    font-size: 5em;
    padding: 8px;
}
/* ============================================================================================= */
/* About me Page */

.aboutme-right-col{
  background: #27221f;
  color: white;
  padding: 1em;
}
.skill{
  color: black;
}
/* ============================================================================================= */
/* Projects Page */

.project-grid{
  display: flex;
  flex-wrap: wrap;
}
#cardtext{
  min-height:30px ;
}
#button{
  margin-left: 5%;
}
#project-grid-BasicChallengesInJava{
  height: 100%;
}

.category-tabs,.category-tabs-select{
 text-align: center;
}




/* ============================================================================================= */
/* Contact Page */

.contact-body{
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em; 
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Anton', sans-serif;
}
.contact-grid hr{
  border-top: 10px dotted black;
  width: 100%;
  margin: auto;
}
.contact-list i{
  font-size:66px;
  padding-right: 5rem;
}


/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY smaller mobile max-width:400 */

@media all and (max-width: 650px){

/* General Layout */


/* ============================================================================================= */
/* landing Page */


/* ============================================================================================= */
/* About me Page */


/* ============================================================================================= */
/* Projects Page */


/* ============================================================================================= */
/* Contact Page */
.contact-body h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0; 
}
.picture, .name {
  display: none;
}
i {

  margin-left: 20px;
  padding-right:10px !important;
  font-size: 30px !important;
}
.contact-info, .mdl-list__item{
  display: flex;
  display: inline-block;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
p {
  display: flex;
  display: inline-block;
  font-size: 18px !important;
}
}

/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY tablet/ipad min-width:400 max-width:700 */

@media all and (max-width: 900px){
/* General Layout */


/* ============================================================================================= */
/* landing Page */


/* ============================================================================================= */
/* About me Page */


/* ============================================================================================= */
/* Projects Page */


/* ============================================================================================= */
/* Contact Page */
.contact-body h2{
  font-size: 30px;;
}
.picture{
  width: auto;
  min-width: 150px;
  max-width: 150px;
  height: auto !important;
}
i {
  margin-left: 60px;
  padding-right:10px !important;
  font-size: 30px !important;
}
.contact-info, .mdl-list__item{
  display: flex;
  display: inline-block;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
p {
  display: flex;
  display: inline-block;
  font-size: 18px !important;
}
}

/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (min-width: 901px){
/* General Layout */


/* ============================================================================================= */
/* landing Page */


/* ============================================================================================= */
/* About me Page */


/* ============================================================================================= */
/* Projects Page */


/* ============================================================================================= */
/* Contact Page */

i {
  margin-left: 60px;
  padding-right:10px !important;
  font-size: 30px !important;
}
.contact-info, .mdl-list__item{
  display: flex;
  display: inline-block;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
p {
  display: flex;
  display: inline-block;
  font-size: 18px !important;
}
}
/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (min-width: 1200px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  
  /* ============================================================================================= */
  /* About me Page */
  
  
  /* ============================================================================================= */
  /* Projects Page */
  .category-tabs{
    display: inline;
  }
  
  /* ============================================================================================= */
  /* Contact Page */

  }
  /* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (max-width: 1199px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  
  /* ============================================================================================= */
  /* About me Page */
  
  
  /* ============================================================================================= */
  /* Projects Page */
  .category-tabs{
    display: none;
  }
  .category-tabs-select{
        display: visible;
  }


  /* ============================================================================================= */
  /* Contact Page */

  }
  

/* ============================================================================================= */
@media all and (min-width: 1470px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  
  /* ============================================================================================= */
  /* About me Page */
  
  
  /* ============================================================================================= */
  /* Projects Page */
  
  .category-tabs-select{
    display: none;
  }
  /* ============================================================================================= */
  /* Contact Page */

  .contact-info i {
    margin-left: 60px;
    padding-right:10px !important;
    font-size: 60px !important;
  }
  .contact-info, .mdl-list__item{
    display: flex;
    display: inline-block;
    margin-bottom: 0px !important;
    padding: 0px !important;
  } 
  .contact-info p {
    display: flex;
    display: inline-block;
    font-size: 38px !important;
  }
  }