/* General Layout */

.header-color {
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
}
/* ============================================================================================= */
/* landing Page */

.avatar-img{
  height:10%;
  padding-top: 2em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.social-links i{
    color:white;
    font-size: 5em;
    padding: 8px;
}
#aboutMePage{
  background-color: #2e2c2b;
  
}
.aboutme-right-col{
  background: #27221f;
  color: white;
  padding: 1em;
}
.skill{
  color: white;
}
#Certification-grid{
  height: 35%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#skill-div{
  height: 20%;
  overflow-y: scroll;
}

/* ============================================================================================= */
/* Projects Page */

.project-grid{
  display: flex;
  flex-wrap: wrap;
}
#cardtext{
  min-height:30px ;
}
#button{
  margin-left: 5%;
}
#project-grid-BasicChallengesInJava{
  height: 100%;
}

.category-tabs,.category-tabs-select{
 text-align: center;
}


/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY smaller mobile max-width:400 */

@media all and (max-width: 650px){

/* General Layout */


/* ============================================================================================= */
/* landing Page */
.contact-body h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0; 
}
.picture, .name {
  display: none;
}
i {

  margin-left: 20px;
  padding-right:10px !important;
  font-size: 30px !important;
}
.contact-info, .mdl-list__item{
  display: flex;
  display: inline-block;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
p {
  display: flex;
  display: inline-block;
  font-size: 18px !important;
}
}

/* ============================================================================================= */
/* Projects Page */




/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY tablet/ipad min-width:400 max-width:700 */

@media all and (max-width: 900px){
/* General Layout */


/* ============================================================================================= */
/* landing Page */




/* ============================================================================================= */
/* Projects Page */

}
/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (min-width: 901px){
/* General Layout */


/* ============================================================================================= */
/* landing Page */



/* ============================================================================================= */
/* Projects Page */




}
/* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (min-width: 1200px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  

  /* ============================================================================================= */
  /* Projects Page */
  .category-tabs{
    display: inline;
  }
  

  }
  /* =============================== =============================== =============================== =============================== =============================== */
/* MEDIA QUERY bigger screens/laptops min-width:700 max-width:1500 */
@media all and (max-width: 1199px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  
  /* ============================================================================================= */
  /* Projects Page */
  .category-tabs{
    display: none;
  }
  .category-tabs-select{
        display: visible;
  }


  }
  

/* ============================================================================================= */
@media all and (min-width: 1470px){
  /* General Layout */
  
  
  /* ============================================================================================= */
  /* landing Page */
  
  .contact-info i {
    margin-left: 60px;
    padding-right:10px !important;
    font-size: 60px !important;
  }
  .contact-info, .mdl-list__item{
    display: flex;
    display: inline-block;
    margin-bottom: 0px !important;
    padding: 0px !important;
  } 
  .contact-info p {
    display: flex;
    display: inline-block;
    font-size: 38px !important;
  }
  }
 
  
  /* ============================================================================================= */
  /* Projects Page */
  
  .category-tabs-select{
    display: none;
  }

