/* Styling for smaller mobile max-width:320 */
@media all and (max-width: 425px){
/* General Layout */
  body{
    background-color: #27221f;
  }
  
/* ============================================================================================= */
/* landing Page */

.avatar-img{
  padding-top: 2em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social-links i{
    color:white;
    font-size: 3em;
}
#skill-div{
  height: 200px;
  overflow-y: scroll;
}
.aboutme-right-col{
  color: white;  
}
#Certification-grid{
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


/* ============================================================================================= */
/* Projects Page */
#tabs{
  margin-left: 4em;
  width: 450px;
  overflow-x: scroll;
}
#text{
  color: white;
  overflow:visible;
}
/* .mdl-tabs__tab{
  background-color: beige;
  overflow: visible;
 
} */


}  


/* ============================================================================================= */
/* MEDIA QUERY for laptop-L min-width:1440px */
/* ============================================================================================= */

@media all and (min-width: 1025px){
/* General Layout */

.header-color {
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
}
/* ============================================================================================= */
/* landing Page */

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.social-links i{
    color:white;
    font-size: 5em;
    padding: 8px;
}
#aboutMePage{
  background-color: #2e2c2b;
  
}
.aboutme-right-col{
  background: #27221f;
  color: white;
  padding: 1em;
}
.skill{
  color: white;
}
#Certification-grid{
  height: 530px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#skill-div{
  height: 286px;
  overflow-y: scroll;
}

/* ============================================================================================= */
/* Projects Page */

.project-grid{
  display: flex;
  flex-wrap: wrap;
}
#cardtext{
  min-height:30px ;
}
#button{
  margin-left: 5%;
}
#project-grid-BasicChallengesInJava{
  height: 100%;
}

.category-tabs,.category-tabs-select{
 text-align: center;
}
}

/* =============================== =============================== =============================== =============================== =============================== */
