/* ============================================================================================= */
/* Styling for mobile max-width: 479px */
/* ============================================================================================= */
@media all and (max-width: 479px) {
  .cardText {
    min-height: 30px;
  }
  .button {
    margin-left: 5%;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for mode between mobile and Tablet min-width:  max-width: 1024 */
/* ============================================================================================= */
@media (min-width: 480px) and (max-width: 1024px) {
  .cardText {
    min-height: 30px;
  }
  .button {
    margin-left: 5%;
  }
}

/* ============================================================================================= */
/* MEDIA QUERY for laptop min-width:1025px */
/* ============================================================================================= */

@media all and (min-width: 1025px) {
  .cardText {
    min-height: 30px;
  }
  .button {
    margin-left: 5%;
  }
}
